<ion-header></ion-header>

<ion-content *ngIf="candidate$ | async as candidate">
  <ion-card>
    <ion-card-header (click)="_toggleExpandAssessment()">
      <ion-card-title>Personality Assessment</ion-card-title>
    </ion-card-header>
    <ion-card-content><cic-expandable expandHeight="auto" [expanded]="isAssessmentExpanded">
      <ion-list>
        <ion-list-header>Extroversion</ion-list-header>
        <ion-progress-bar value="{{ candidate.extroversion / 7 }}"></ion-progress-bar>
      </ion-list>
      <ion-list>
        <ion-list-header>Agreeableness</ion-list-header>
        <ion-progress-bar value="{{ candidate.agreeableness / 7 }}"></ion-progress-bar>
      </ion-list>
      <ion-list>
        <ion-list-header>Openness</ion-list-header>
        <ion-progress-bar value="{{ candidate.openness / 7 }}"></ion-progress-bar>
      </ion-list>
      <ion-list>
        <ion-list-header>Conscientiousness</ion-list-header>
        <ion-progress-bar value="{{ candidate.conscientiousness / 7 }}"></ion-progress-bar>
      </ion-list>
      <ion-list>
        <ion-list-header>Neuroticism</ion-list-header>
        <ion-progress-bar value="{{ candidate.neuroticism / 7 }}"></ion-progress-bar>
      </ion-list>
    </cic-expandable></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-button (click)="_onClickVideo()"></ion-button>
  </ion-card>

  <ion-button expand="full" fill="clear" (click)="_onClickScoreCard()">
    Score Candidate
  </ion-button>
</ion-content>
