<ion-header></ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Candidate Scorecard</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          Leadership
        </ion-label>
        <ionic4-star-rating #rating
          activeIcon="ios-star"
          defaultIcon="ios-star-outline"
          activeColor="#488aff" 
          defaultColor="#f4f4f4"
          readonly="false"
          rating="3"
          fontSize="32px"
          (ratingChanged)="_onLeadershipChange($event)">
        </ionic4-star-rating>
      </ion-item>
      <ion-item>
        <ion-label>
          Culture Fit
        </ion-label>
        <ionic4-star-rating #rating
          activeIcon="ios-star"
          defaultIcon="ios-star-outline"
          activeColor="#488aff" 
          defaultColor="#f4f4f4"
          readonly="false"
          rating="3"
          fontSize="32px"
          (ratingChanged)="_onCultureFitChange($event)">
        </ionic4-star-rating>
      </ion-item>
      <ion-item>
        <ion-label>
          Agility
        </ion-label>
        <ionic4-star-rating #rating
          activeIcon="ios-star"
          defaultIcon="ios-star-outline"
          activeColor="#488aff" 
          defaultColor="#f4f4f4"
          readonly="false"
          rating="3"
          fontSize="32px"
          (ratingChanged)="_onAgilityChange($event)">
        </ionic4-star-rating>
      </ion-item>
      <ion-item>
        <ion-label>
          Natural Confidence
        </ion-label>
        <ionic4-star-rating #rating
          activeIcon="ios-star"
          defaultIcon="ios-star-outline"
          activeColor="#488aff" 
          defaultColor="#f4f4f4"
          readonly="false"
          rating="3"
          fontSize="32px"
          (ratingChanged)="_onNaturalConfidenceChange($event)">
        </ionic4-star-rating>
      </ion-item>
      <ion-item>
        <ion-label>
          X Factor
        </ion-label>
        <ionic4-star-rating #rating
          activeIcon="ios-star"
          defaultIcon="ios-star-outline"
          activeColor="#488aff" 
          defaultColor="#f4f4f4"
          readonly="false"
          rating="3"
          fontSize="32px"
          (ratingChanged)="_onXFactorChange($event)">
        </ionic4-star-rating>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Additional Comments (Optional)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea placeholder="Start typing ..." rows="6"></ion-textarea>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" color="secondary" (click)="_onClickSubmit()">
    Submit ScoreCard
  </ion-button>
</ion-content>
